<app-button (click)="toggleChild()"></app-button>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <app-app-card>
        <div class="card-header">
          Header 1
        </div>
        <div class="card-body" #body>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </app-app-card>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <app-app-card >
        <div class="card-header">
          Header 2
        </div>
        <div class="card-body" #body>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </app-app-card>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <app-app-card>
        <div class="card-header">
          Header 3
        </div>
        <div class="card-body" #body>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-warning">Go somewhere</a>
        </div>
      </app-app-card>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <app-app-card>
        <div class="card-header">
           Header 4
        </div>
        <div class="card-body" #body>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </app-app-card>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <app-app-card >
      <div class="card-header">
        Header 5
      </div>
      <div class="card-body" #body>
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-success">Go somewhere</a>
      </div>
      </app-app-card>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <app-app-card>
        <div class="card-header">
          Header 6
        </div>
        <div class="card-body" #body>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-warning">Go somewhere</a>
        </div>
      </app-app-card>
    </div>
  </div>
</div>




